<!DOCTYPE html>
<html>
<head>
    <title>Anuncios</title>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable", content="yes">
    <meta name="author" content="André Montoya">
    <meta name="description" content="Aplicación para publicidad a través del hotspot">
    <meta name="keywords" content="publicidad, hotspot, promociona, vende, mejora negocio">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href='/update/css/cliente/cliente_anuncios.min.css' rel='stylesheet' type='text/css'>
    
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script>
        var user = {{json user}};
        var lista_clientes = {{json lista_clientes}};
        var lista_provincias = {{json lista_provincias}};
        var lista_cantones = {{json lista_cantones}};
        var lista_hotspots = {{json lista_hotspots}};
        var lista_anuncios = {{json lista_anuncios}};
        var lista_anuncios_indices = {{json lista_anuncios_indices}};
        var lista_subclientes = {{json lista_subclientes}};
    </script>
</head>
<body>
    <div class="row padre">
        <div class="col s2 hijo_a">
            <div class="menu_header">
                <span>Panel de administración</span>
            </div>
            <div class="menu_lista">
                <ul>
                    <li data-target="0">
                        <a href="/cliente/clientes?a={{user.id}}">
                            <i class="fas fa-user-friends"></i>
                            Clientes
                        </a>
                    </li>
                    <li data-target="1">
                        <a href="/cliente/maquetas?a={{user.id}}">
                            <i class="far fa-file-powerpoint"></i>
                            Maquetas
                        </a>
                    </li>
                    <li data-target="2">
                        <a href="/cliente/hotspots.hbs?a={{user.id}}">
                            <i class="fas fa-server"></i>
                            Hotspots
                        </a>
                    </li>
                    <li data-target="3" class="active">
                        <a href="/cliente/anuncios?a={{user.id}}">
                            <i class="fas fa-ad"></i>
                            Anuncios
                        </a>
                    </li>
                    <li data-target="4">
                        <a>
                            <i class="fas fa-share-alt"></i>
                            Reportes
                        </a>
                    </li>
                    <li data-target="5">
                        <a id="btn_logout">
                            <i class="fas fa-sign-out-alt"></i>
                            Cerrar Sesión
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s10 hijo_b">
            <div class="barra">
                <div class="opc acc">
                    <i class="fas fa-plus-square button btn_modal_action" id="boton_add_hotspot" data-target="modal_add_anuncio"></i>
                </div>
                <div class="opc">
                    <i class="fas fa-question button"></i>
                    <i class="fas fa-bell button"></i>
                    <span class="nombre">
                        <i class="fas fa-user icono"></i>
                        {{user.data.nombres}} {{user.data.apellidos}}
                    </span>
                </div>
            </div>
            <div class="progress" id="indicador_progreso">
                <div class="indeterminate"></div>
            </div>
            <div class="contenido row">
                <div class="col lista">
                    <div class="lista_clientes">
                        <ul class="ul_items" id="ul_anuncios_lista">
                            {{#each lista_anuncios as |anuncios i|}}
                                <li class="li_item" id="li_anuncio_{{anuncios.id}}" data-target="{{anuncios.id}}">
                                    <div class="vertical">
                                        <i class="fas fa-ad"></i>
                                        <span class="maqueta_etiqueta">{{anuncios.data.etiqueta}}</span>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="col bloque" id="form_anuncio_data">
                    <div class="contenedor">
                        <div class="row">
                            <input id="id_anuncio" type="hidden">
                            <div class="col s12 col_titulo">
                                <span>Información general</span>
                            </div>
                            <div class="col s6 col_input">
                                <select class="browser-default select_anuncio" id="ad_id_cliente" data-subcliente="ad_id_subcliente" disabled>
                                    <option value="none" selected disabled>¿Cuál es el cliente?</option>
                                    <option value="{{user.id}}">{{user.data.empresa.nombre}}</option>
                                </select>
                            </div>    
                            <div class="col s6 col_input">
                                <select class="browser-default select_anuncio" id="ad_id_subcliente">
                                    <option value="none" selected disabled>¿Cuál es el sub-cliente?</option>
                                    {{#each lista_subclientes as |subcliente i|}}
                                        <option value="{{subcliente.id}}">{{subcliente.data.etiqueta}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col s6 col_input">
                                <input class="browser-default" id="ad_etiqueta" type="text" placeholder="Etiqueta" disabled>
                            </div>
                            <div class="col s1 col_input">
                                <input class="browser-default" id="ad_fecha_dia" type="text" placeholder="dd" disabled>
                            </div>
                            <div class="col s1 col_input">
                                <input class="browser-default" id="ad_fecha_mes" type="text" placeholder="mm" disabled>
                            </div>
                            <div class="col s2 col_input">
                                <input class="browser-default" id="ad_fecha_ano" type="text" placeholder="aaaa" disabled>
                            </div>
                            <div class="col s2 col_input">
                                <input class="browser-default" id="ad_hora" type="text" placeholder="00:00:00" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6 col_input">
                                <input class="browser-default input_anuncio" id="ad_descripcion" type="text" placeholder="Descripción (300 caracteres)">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6 col_input">
                                <select class="browser-default select_provincia muchos_8vw select_anuncio" id="ad_id_provincia" data-canton="ad_id_canton" multiple>
                                    <option value="none" disabled>¿En qué provincia se mostrara?</option>
                                    {{#each lista_provincias as |provincia i|}}
                                        <option value="{{provincia.data.id_provincia}}">{{provincia.data.etiqueta}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col s6 col_input">
                                <select class="browser-default muchos_8vw select_anuncio" id="ad_id_canton" multiple>
                                    <option value="none" disabled>¿En qué cantón se mostrara?</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6 col_input">
                                <select class="browser-default muchos_12vw select_anuncio" id="ad_id_hotspot" multiple>
                                    <option value="none" disabled>¿En que hotspot se mostrara?</option>
                                    <option value="all">Todos</option>
                                    {{#each lista_hotspots as |hotspot i|}}
                                        <option value="{{hotspot.id}}"><strong>{{hotspot.data.equipo.ip}}</strong> - {{hotspot.data.lugar.nombre}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col s6 col_input">
                                <select class="browser-default select_anuncio" id="ad_display">
                                    <option value="none" disabled selected>¿Cuál es el estado del anuncio?</option>
                                    <option value="0">Se muestra</option>
                                    <option value="1">No se muestra</option>
                                </select>
                            </div>
                            <div class="col s6 col_input">
                                <select class="browser-default select_anuncio" id="ad_prioridad">
                                    <option value="none" disabled selected>¿Qué prioridad tendrá?</option>
                                    <option value="0">1 día</option>
                                    <option value="1">2 días</option>
                                    <option value="2">4 días</option>
                                    <option value="3">8 días</option>
                                    <option value="4">16 días</option>
                                </select>
                            </div>
                            <div class="col s6 margin col_input">
                                <select class="browser-default select_anuncio" id="ad_tipo" disabled>
                                    <option value="none" disabled selected>¿Qué tipo de anuncio sera?</option>
                                    <option value="0/imagen">Imagen</option>
                                    <option value="1/video">Video</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s2 titulo col_input">
                                <p style="text-align: center;"><strong>Clics</strong></p>
                            </div>
                            <div class="col s2 col_input">
                                <input class="browser-default input_anuncio" id="ad_visual_gratis" type="number" placeholder="Gratis" step="1">
                            </div>
                            <div class="col s2 col_input">
                                <input class="browser-default input_anuncio" id="ad_visual_pagado" type="number" placeholder="Pagadas" step="1">
                            </div>
                            <div class="col s3 titulo col_input">
                                <p style="text-align: center;"><strong>Total de clics</strong></p>
                            </div>
                            <div class="col s3 col_input">
                                <input class="browser-default" id="ad_visual_contador" type="text" placeholder="Contador" disabled>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                        <div class="row ad_file_div_b ad_file_imagen" id="ad_preview_imagen">
                            <div class="col">
                                <input type="file" class="hide input_file_imagen file_anuncio" id="ad_file_imagen" data-img="ad_file_preview_imagen" accept="image/jpg, image/jpeg">
                                <img src="" id="ad_file_preview_imagen">
                                <i class="fas fa-camera btn_file_modal" data-input="ad_file_imagen"></i>
                            </div>
                        </div>
                        <div class="row ad_file_div_b ad_file_video" id="ad_preview_video">
                            <div class="col">
                                <input type="file" class="hide input_file_video file_anuncio" id="ad_file_video" accept="video/mp4" data-source="ad_file_preview_video_source">
                                <video id="ad_file_preview_video" controls muted>
                                    <source id="ad_file_preview_video_source">
                                </video>
                                <i class="fas fa-video btn_file_modal" data-input="ad_file_video"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modales Begin -->
    <div class="modale moo_height_46vw" id="modal_add_anuncio">
        <div class="contenido">
            <div class="snac">
                <div class="intro">
                    <span>Registrar Anuncio</span>
                </div>
                <div class="opciones">
                    <i class="far fa-check-circle btn_action_modale" id="registrar_anuncio"></i>
                    <i class="far fa-times-circle btn_close_modale" id="close_modale" data-target="modal_add_anuncio"></i>
                </div>
            </div>
            <div class="progress" id="modale_progreso_add_anuncio">
                <div class="indeterminate"></div>
            </div>
            <div class="mate">
                <div class="row">
                    <div class="col s6">
                        <select class="browser-default select_form_cliente" id="reg_ad_id_cliente" data-subcliente="reg_ad_id_subcliente" disabled>
                            <option value="{{user.id}}" selected>{{user.data.empresa.nombre}}</option>
                        </select>
                    </div>
                    <div class="col s6">
                        <select class="browser-default" id="reg_ad_id_subcliente">
                            <option value="none" selected disabled>¿Cuál es el sub-cliente?</option>
                            {{#each lista_subclientes as |subcliente i|}}
                                <option value="{{subcliente.id}}">{{subcliente.data.etiqueta}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <input class="browser-default" id="reg_ad_etiqueta" type="text" placeholder="Etiqueta">
                    </div>
                    <div class="col s6">
                        <input class="browser-default" id="reg_ad_descripcion" type="text" placeholder="Descripción (300 caracteres)">
                    </div>
                </div>
                <div class="row">
                    <div class="col s2">
                        <input class="browser-default fecha_dia" id="reg_ad_fecha_dia" type="text" placeholder="dd" disabled>
                    </div>
                    <div class="col s2">
                        <input class="browser-default fecha_mes" id="reg_ad_fecha_mes" type="text" placeholder="mm" disabled>
                    </div>
                    <div class="col s2">
                        <input class="browser-default fecha_anno" id="reg_ad_fecha_ano" type="text" placeholder="aaaa" disabled>
                    </div>
                    <div class="col s6">
                        <input class="browser-default campo_hora" id="reg_ad_hora" type="text" placeholder="La hora se configura automáticamente" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <select class="browser-default select_provincia muchos_10vw" id="reg_ad_id_provincia" data-canton="reg_ad_id_canton" multiple>
                            <option value="none" disabled>¿En qué provincia se mostrara?</option>
                            {{#each lista_provincias as |provincia i|}}
                                <option value="{{provincia.data.id_provincia}}">{{provincia.data.etiqueta}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col s6">
                        <select class="browser-default muchos_10vw" id="reg_ad_id_canton" disabled multiple>
                            <option value="none" disabled>¿En qué cantón se mostrara?</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <select class="browser-default muchos" id="reg_ad_id_hostspot" multiple>
                            <option value="none" disabled>¿En que hotspot se mostrara?</option>
                            <option value="all">Todos</option>
                            {{#each lista_hotspots as |hotspot i|}}
                                <option value="{{hotspot.id}}"><strong>{{hotspot.data.equipo.ip}}</strong> - {{hotspot.data.lugar.nombre}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col s6">
                        <select class="browser-default" id="reg_ad_prioridad">
                            <option value="none" disabled selected>¿Qué prioridad tendrá?</option>
                            <option value="0">1 día</option>
                            <option value="1">2 días</option>
                            <option value="2">4 días</option>
                            <option value="3">8 días</option>
                            <option value="4">16 días</option>
                        </select>
                    </div>
                    <div class="col s6 titulo">
                        <p><strong>Visualizaciones</strong></p>
                    </div>
                    <div class="col s3">
                        <input class="browser-default" id="reg_ad_visual_gratis" type="number" placeholder="Gratis" step="1">
                    </div>
                    <div class="col s3">
                        <input class="browser-default" id="reg_ad_visual_pagado" type="number" placeholder="Pagadas" step="1">
                    </div>
                    <div class="col s6 margin">
                        <select class="browser-default" id="reg_ad_tipo">
                                <option value="none" disabled selected>¿Qué tipo de anuncio sera?</option>
                                <option value="0/imagen">Imagen</option>
                                <option value="1/video">Video</option>
                        </select>
                    </div>
                </div>
                <div class="row hide ad_file_div ad_file_imagen" id="reg_ad_preview_imagen">
                    <div class="col">
                        <input type="file" class="hide input_file_imagen" id="reg_ad_file_imagen" data-img="reg_ad_file_preview_imagen" accept="image/jpg, image/jpeg">
                        <img src="" id="reg_ad_file_preview_imagen">
                        <i class="fas fa-camera btn_file_modal" data-input="reg_ad_file_imagen"></i>
                    </div>
                </div>
                <div class="row hide ad_file_div ad_file_video" id="reg_ad_preview_video">
                    <div class="col">
                        <input type="file" class="hide input_file_video" id="reg_ad_file_video" accept="video/mp4" data-source="reg_ad_file_preview_video_source">
                        <video id="reg_ad_file_preview_video" controls muted>
                            <source id="reg_ad_file_preview_video_source">
                        </video>
                        <i class="fas fa-video btn_file_modal" data-input="reg_ad_file_video"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modales End -->
    <script src="https://www.gstatic.com/firebasejs/5.5.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.1/firebase-auth.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src='/update/js/cliente/cliente_anuncios.min.js'></script>
    <script>
        $('#btn_logout').click(function(){
            firebase.auth().signOut().then(function() {
                window.location.href = "/";
            }).catch(function(error) {
                window.location.href = "/";
            });
        });
    </script>
</body>
</html>