<!DOCTYPE html>
<html>
<head>
    <title>Hotspots</title>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable", content="yes">
    <meta name="author" content="André Montoya">
    <meta name="description" content="Aplicación para publicidad a través del hotspot">
    <meta name="keywords" content="publicidad, hotspot, promociona, vende, mejora negocio">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href='/update/css/cliente/cliente_hotspots.min.css' rel='stylesheet' type='text/css'>
    
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script>
        var user = {{json user}};
        var lista_clientes = {{json lista_clientes}};
        var lista_provincias = {{json lista_provincias}};
        var lista_cantones = {{json lista_cantones}};
        var lista_hotspots = {{json lista_hotspots}};
        var lista_maquetas = {{json lista_maquetas}};
    </script>
</head>
<body>
    <div class="row padre">
        <div class="col s2 hijo_a">
            <div class="menu_header">
                <span>Panel de administración</span>
            </div>
            <div class="menu_lista">
                <ul>
                    <li data-target="0">
                        <a href="/cliente/clientes?a={{user.id}}">
                            <i class="fas fa-user-friends"></i>
                            Clientes
                        </a>
                    </li>
                    <li data-target="1">
                        <a href="/cliente/maquetas?a={{user.id}}">
                            <i class="far fa-file-powerpoint"></i>
                            Maquetas
                        </a>
                    </li>
                    <li data-target="2" class="active">
                        <a href="/cliente/hotspots?a={{user.id}}">
                            <i class="fas fa-server"></i>
                            Hotspots
                        </a>
                    </li>
                    <li data-target="3">
                        <a href="/cliente/anuncios?a={{user.id}}">
                            <i class="fas fa-ad"></i>
                            Anuncios
                        </a>
                    </li>
                    <li data-target="4">
                        <a>
                            <i class="fas fa-share-alt"></i>
                            Reportes
                        </a>
                    </li>
                    <li data-target="5">
                        <a id="btn_logout">
                            <i class="fas fa-sign-out-alt"></i>
                            Cerrar Sesión
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s10 hijo_b">
            <div class="barra">
                <div class="opc acc">
                    <i class="fas fa-plus-square button btn_modal_action" id="boton_add_hotspot" data-target="modal_add_hotspot"></i>
                    <i class="fas fa-file-code button btn_modal_action" id="boton_update_file_hotspot" data-target="modal_update_file_hotspot"></i>
                </div>
                <div class="opc">
                    <i class="fas fa-question button"></i>
                    <i class="fas fa-bell button"></i>
                    <span class="nombre">
                        <i class="fas fa-user icono"></i>
                        {{user.data.nombres}} {{user.data.apellidos}}
                    </span>
                </div>
            </div>
            <div class="progress" id="indicador_progreso">
                <div class="indeterminate"></div>
            </div>
            <div class="contenido row">
                <div class="col lista">
                    <div class="lista_clientes">
                        <ul class="ul_items" id="ul_maquetas_lista">
                            {{#each lista_hotspots as |hotspot i|}}
                                <li class="li_item" id="li_hotspot_{{hotspot.id}}" data-target="{{hotspot.id}}">
                                    <div class="vertical">
                                        <i class="fas fa-briefcase"></i>
                                        <span class="maqueta_etiqueta">{{hotspot.data.lugar.nombre}}</span>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="col bloque" id="form_hotspot_data">
                    <div class="row">
                        <input id="id_hotspot" type="hidden">
                        <div class="col s12 col_titulo">
                            <span>Información general</span>
                        </div>
                        <div class="col s6 col_input">
                            <select class="browser-default select_hotspot" id="id_cliente">
                                <option value="none" selected>Selecciona el cliente</option>
                                <option value="{{user.id}}">{{user.data.empresa.nombre}}</option>
                            </select>
                        </div>
                        <div class="col s6 col_input">
                            <select class="browser-default select_hotspot" id="id_maqueta">
                                <option value="none" selected>Selecciona la maqueta</option>
                                {{#each lista_maquetas as |maqueta i|}}
                                    <option value="{{maqueta.id}}">{{maqueta.data.etiqueta}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col s6 col_input">
                            <select class="browser-default select_hotspot select_provincia" id="id_provincia" data-canton="id_canton">
                                <option value="none" selected>Selecciona la provincia</option>
                                {{#each lista_provincias as |provincia i|}}
                                    <option value="{{provincia.data.id_provincia}}">{{provincia.data.etiqueta}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col s6 col_input">
                            <select class="browser-default select_hotspot" id="id_canton" disabled>
                                <option value="none" selected>Selecciona el cantón</option>
                            </select>
                        </div>
                        <div class="col s12 col_titulo">
                            <span>Información del establecimiento o lugar</span>
                        </div>
                        <div class="col s4 col_input">
                            <input class="browser-default input_hotspot" id="lugar_nombre" type="text" placeholder="Nombre">
                        </div>
                        <div class="col s4 col_input">
                            <input class="browser-default input_hotspot" id="lugar_direccion" type="text" placeholder="Dirección">
                        </div>
                        <div class="col s4 col_input">
                            <input class="browser-default input_hotspot" id="lugar_telefono" type="text" placeholder="Teléfono">
                        </div>
                        <div class="col s12 col_titulo">
                            <span>Datos técnicos</span>
                        </div>
                        <div class="col s6 col_input">
                            <input class="browser-default" id="semilla" type="text" placeholder="Semilla" disabled>
                        </div>
                        <div class="col s6 col_input">
                            <input class="browser-default" id="codigo" type="text" placeholder="Código" disabled>
                        </div>
                        <div class="col s4 col_input">
                            <input class="browser-default input_hotspot" id="equipo_ip" type="text" placeholder="IP del equipo">
                        </div>
                        <div class="col s4 col_input">
                            <input class="browser-default input_hotspot" id="ftp_user" type="text" placeholder="Usuario FTP">
                        </div>
                        <div class="col s4 col_input">
                            <input class="browser-default input_hotspot" id="ftp_password" type="text" placeholder="Password FTP">
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modales Begin -->
    <div class="modale moo_height_34vw" id="modal_add_hotspot">
        <div class="contenido">
            <div class="snac">
                <div class="intro">
                    <span>Registrar Hotspot</span>
                </div>
                <div class="opciones">
                    <i class="far fa-check-circle btn_action_modale" id="registrar_hotspot"></i>
                    <i class="far fa-times-circle btn_close_modale" id="close_modale" data-target="modal_add_hotspot"></i>
                </div>
            </div>
            <div class="progress" id="modale_progreso_add_hotspot">
                <div class="indeterminate"></div>
            </div>
            <div class="mate">
                <div class="row">
                    <div class="col s12">
                        <p><strong>Información general</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <select class="browser-default" id="reg_hot_id_cliente" disabled>
                            <option value="{{user.id}}" selected>{{user.data.empresa.nombre}}</option>
                        </select>
                    </div>
                    <div class="col s6">
                        <select class="browser-default select_clean" id="reg_hot_id_maqueta">
                            <option value="none" selected>¿Qué maqueta se mostrara?</option>
                            {{#each lista_maquetas as |maqueta i|}}
                                <option value="{{maqueta.id}}">{{maqueta.data.etiqueta}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <select class="browser-default select_provincia select_clean" id="reg_hot_id_provincia" data-canton="reg_hot_id_canton">
                            <option value="none" selected>¿En qué provincia esta ubicado?</option>
                            {{#each lista_provincias as |provincia i|}}
                                <option value="{{provincia.data.id_provincia}}">{{provincia.data.etiqueta}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col s6">
                        <select class="browser-default select_clean" id="reg_hot_id_canton" disabled>
                            <option value="none" selected>¿En qué cantón esta ubicado?</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p><strong>Información del establecimiento o lugar</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        <input class="browser-default" id="reg_hot_lugar_nombre" type="text" placeholder="Nombre">
                    </div> 
                    <div class="col s4">
                        <input class="browser-default" id="reg_hot_lugar_direccion" type="text" placeholder="Dirección">
                    </div>
                    <div class="col s4">
                        <input class="browser-default" id="reg_hot_lugar_telefono" type="text" placeholder="Teléfono">
                    </div> 
                </div>
                <div class="row">
                    <div class="col s12">
                        <p><strong>Datos técnicos del equipo</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        <input class="browser-default" id="reg_hot_equipo_ip" type="text" placeholder="IP del equipo">
                    </div> 
                    <div class="col s4">
                        <input class="browser-default" id="reg_hot_equipo_usuario" type="text" placeholder="Usuario FTP">
                    </div>
                    <div class="col s4">
                        <input class="browser-default" id="reg_hot_equipo_password" type="password" placeholder="Password FTP">
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="modale moo_height_16vw" id="modal_update_file_hotspot">
        <div class="contenido">
            <div class="snac">
                <div class="intro">
                    <span>Actualizar archivos login.html</span>
                </div>
                <div class="opciones">
                    <i class="far fa-check-circle btn_action_modale" id="btn_update_file_hotspot"></i>
                    <i class="fas fa-undo btn_action_modale" id="btn_restore_file_hotspot"></i>
                    <i class="far fa-times-circle btn_close_modale" id="close_modale" data-target="modal_update_file_hotspot"></i>
                </div>
            </div>
            <div class="progress" id="modale_progreso_update_file_hotspot">
                <div class="indeterminate"></div>
            </div>
            <div class="mate">
                <div class="row">
                    <div class="col s12">
                        <p><strong>Selecciona los equipos a actualizar</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <select class="browser-default" id="upd_file_hotspot">
                            <option value="none" disabled selected>Selecciona el equipo</option>
                            {{#each lista_hotspots as |hotspot i|}}
                                <option value="{{hotspot.id}}">{{hotspot.data.equipo.ip}} - {{hotspot.data.lugar.nombre}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modales End -->
    <script src="https://www.gstatic.com/firebasejs/5.5.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.1/firebase-auth.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src='/update/js/cliente/cliente_hotspots.min.js'></script>
    <script>
        $('#btn_logout').click(function(){
            firebase.auth().signOut().then(function() {
                window.location.href = "/";
            }).catch(function(error) {
                window.location.href = "/";
            });
        });
    </script>
</body>
</html>