<!DOCTYPE html>
<html>
<head>
    <title>Clientes</title>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable", content="yes">
    <meta name="author" content="André Montoya">
    <meta name="description" content="Aplicación para publicidad a través del hotspot">
    <meta name="keywords" content="publicidad, hotspot, promociona, vende, mejora negocio">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href='/update/css/cliente/cliente_clientes.min.css' rel='stylesheet' type='text/css'>
    
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script>
        var user = {{json user}};
        var lista_subclientes = {{json lista_subclientes}};
        var lista_pagos = {{json lista_pagos}};
        
        var lista_clientes = {{json lista_clientes}};
        var lista_provincias = {{json lista_provincias}};
        var lista_cantones = {{json lista_cantones}};
        
        var contadores_cliente = [];
    </script>
</head>
<body>
    <div class="row padre">
        <div class="col s2 hijo_a">
            <div class="menu_header">
                <span>Panel de administración</span>
            </div>
            <div class="menu_lista">
                <ul>
                    <li data-target="0" class="active">
                        <a href="/cliente/clientes?a={{user.id}}">
                            <i class="fas fa-user-friends"></i>
                            Clientes
                        </a>
                    </li>
                    <li data-target="1">
                        <a href="/cliente/maquetas?a={{user.id}}">
                            <i class="far fa-file-powerpoint"></i>
                            Maquetas
                        </a>
                    </li>
                    <li data-target="2">
                        <a href="/cliente/hotspots?a={{user.id}}">
                            <i class="fas fa-server"></i>
                            Hotspots
                        </a>
                    </li>
                    <li data-target="3">
                        <a href="/cliente/anuncios?a={{user.id}}">
                            <i class="fas fa-ad"></i>
                            Anuncios
                        </a>
                    </li>
                    <li data-target="4">
                        <a>
                            <i class="fas fa-share-alt"></i>
                            Reportes
                        </a>
                    </li>
                    <li data-target="5">
                        <a id="btn_logout">
                            <i class="fas fa-sign-out-alt"></i>
                            Cerrar Sesión
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s10 hijo_b">
            <div class="barra">
                <div class="opc acc">
                    <i class="fas fa-user-plus button btn_modal_action" id="boton_add_subcliente" data-target="modal_add_sub_cliente"></i>
                </div>
                <div class="opc">
                    <i class="fas fa-question button"></i>
                    <i class="fas fa-bell button"></i>
                    <span class="nombre">
                        <i class="fas fa-user icono"></i>
                        {{user.data.nombres}} {{user.data.apellidos}}
                    </span>
                </div>
            </div>
            <div class="progress" id="indicador_progreso">
                <div class="indeterminate"></div>
            </div>
            <div class="contenido row">
                <div class="col s12 bloque height28">
                    <div class="row cajas height100">
                        <div class="col s3 caja">
                            <div class="centrar">
                                <span class="titulo">Total de anuncios</span>
                                <span class="number">
                                    <i class="fas fa-ad"></i>
                                    <span id="cliente_anuncios" class="contador">...</span>
                                </span>
                            </div>
                        </div>
                        <div class="col s3 caja">
                            <div class="centrar">
                                <span class="titulo">Total de hotspots</span>
                                <span class="number">
                                    <i class="fas fa-wifi"></i>
                                    <span id="cliente_hotspots" class="contador">...</span>
                                </span>
                            </div>
                        </div>
                        <div class="col s3 caja">
                            <div class="centrar">
                                <span class="titulo">Total de maquetas</span>
                                <span class="number">
                                    <i class="far fa-file-powerpoint"></i>
                                    <span id="cliente_plantillas" class="contador">...</span>
                                </span>
                            </div>
                        </div>
                        <div class="col s3 caja">
                            <div class="centrar">
                                <span class="titulo">Saldo de tu cuenta</span>
                                <span class="number">
                                    <i class="fas fa-dollar-sign"></i>
                                    <span id="cliente_saldo" class="">...</span>
                                </span>
                            </div>
                            <div class="opciones">
                                <i class="fas fa-info-circle btn_modal_action" id="btn_modal_pagos" data-target="modal_historial_registro_pagos" data-cliente="{{user.id}}"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col lista height68">
                    <div class="lista_clientes">
                        <ul class="ul_clientes" id="ul_clientes_lista">
                            {{#each lista_subclientes as |subcliente i|}}
                                <li class="li_cliente" id="li_clientes_{{subcliente.id}}" data-target="{{subcliente.id}}">
                                    <div class="vertical">
                                        <i class="fas fa-briefcase"></i>
                                        <span class="cliente_nombre">{{subcliente.data.etiqueta}}</span>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="col bloque height68">
                    <div class="row info height100">
                        <div class="col s12 main">
                            <div class="row sub" id="form_data_sub_cliente">
                                <input type="hidden" val="" id="id_subcliente">
                                <div class="col s6">
                                    <span class="titulo">Información del representante</span>
                                    <input class="browser-default input_usuario" id="representante" type="text" placeholder="Nombre del respresentante" name="representante" />
                                </div>
                                <div class="col s6">
                                    <span class="titulo">Nombre de la empresa</span>
                                    <input class="browser-default input_usuario" id="etiqueta" type="text" placeholder="Nombre de la empresa" name="etiqueta" />
                                </div>
                                <div class="col s6">
                                    <span class="titulo">Correo electrónico</span>
                                    <input class="browser-default input_usuario" id="correo" type="text" placeholder="Correo electrónico" name="correo" />
                                </div>
                                <div class="col s6">
                                    <span class="titulo">Estado del cliente</span>
                                    <select class="browser-default" id="estado">
                                        <option value="none" selected>Selecciona el estado</option>
                                        <option value="0">Activo</option>
                                        <option value="1">De baja</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modales Begin -->
    <div class="modale moo_height_15vw" id="modal_add_sub_cliente">
        <div class="contenido">
            <div class="snac">
                <div class="intro">
                    <span>Registrar Sub-Cliente</span>
                </div>
                <div class="opciones">
                    <i class="far fa-check-circle btn_action_modale" id="registrar_subcliente"></i>
                    <i class="far fa-times-circle btn_close_modale" id="close_modale" data-target="modal_add_sub_cliente"></i>
                </div>
            </div>
            <div class="progress" id="modale_progreso_subcliente">
                <div class="indeterminate"></div>
            </div>
            <div class="mate">
                <div class="row">
                    <div class="col s6">
                        <select class="browser-default" id="reg_sub_id_cliente" disabled>
                            <option value="{{user.id}}" selected>{{user.data.empresa.nombre}}</option>
                        </select>
                    </div>
                    <div class="col s6">
                        <input class="browser-default" id="reg_sub_etiqueta" type="text" placeholder="Nombre de la empresa" name="etiqueta" />
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <input class="browser-default" id="reg_sub_representante" type="text" placeholder="Nombre del representante" name="representante" />
                    </div>
                    <div class="col s6">
                        <input class="browser-default" id="reg_sub_correo" type="email" placeholder="Correo Empresa/Representante" name="correo" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modale" id="modal_historial_registro_pagos">
        <div class="contenido">
            <div class="snac">
                <div class="intro">
                    <span>Información de pagos</span>
                </div>
                <div class="opciones">
                    <i class="far fa-times-circle btn_close_modale" id="close_modale" data-target="modal_historial_registro_pagos"></i>
                </div>
            </div>
            <div class="progress" id="modale_progreso_pagos">
                <div class="indeterminate"></div>
            </div>
            <div class="mate row" style="padding: 0;">
                <div class="col s12 main b">
                    <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
                        <li class="tab"><a class="active" href="#historial_pagos_div">Historial de pagos</a></li>
                    </ul>
                    <div id="historial_pagos_div" class="col s12 tab_div tab_pag a">
                        <div class="row">
                            <div class="col s2 a">
                                <span class="titulo">Año</span>
                                <div class="anos" id="lista_annos_pagos">
                                </div>
                            </div>
                            <div class="col s10 b">
                                <ul class="collapsible div_pagos_por_anno" id="div_pagos_por_anno"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modales End -->
    <script src="https://www.gstatic.com/firebasejs/5.5.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.1/firebase-auth.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src='/update/js/cliente/cliente_clientes.min.js'></script>
    <script>
        $('#btn_logout').click(function(){
            firebase.auth().signOut().then(function() {
                window.location.href = "/";
            }).catch(function(error) {
                window.location.href = "/";
            });
        });
    </script>
</body>
</html>