body {
    overflow: hidden;
    user-select: none;
}

.row {

}
.col {

}

.span_block {
    display: block;
    width: 100%;
}

.texto_big {
    font-family: 'Alfa Slab One', cursive;
    color: #fefefe;
    font-size: 3.5vw;
}

.texto_medium {

}

.texto_normal {
    font-size: 1.3vw;
    color: #fefefe;
    margin: 1vw 0;
    padding: 0 2vw;
}

.texto_center {
    text-align: center;
}

.texto_left {
    
}

.texto_right {
    
}

.centrado_vertical {
    display: flex;
    align-items: center;
}

.centrado_horizontal {

}

.seccion_fondoa {
    background-image: url(../img/a.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.back_color_0000FD {
    background-color: #0000FD4D;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

/*Navs*/
.snackbar {
    position: absolute;
    width: 100%;
    top: 0;
    height: 7vw;
    z-index: 5;
}

.snackbar .bloque {
    height: 100%;
    padding: 0 4vw;
    display: flex;
    align-items: center;
}

.snackbar .div_left {
    float: left;
}

.snackbar .div_right {
    float: right;
}

.snackbar .bloque span.logo {
    color: #fefefe;
    font-weight: 700;
    font-size: 2vw;
    font-family: 'Alfa Slab One', cursive;
}

.snackbar .bloque ul {
    margin: 0;
    width: auto;
}

.snackbar .bloque ul li {
    float: left;
    padding: 0 1vw;
}

.snackbar .bloque ul li a {
    color: #fefefe;
    font-weight: 600;
    font-size: .9vw;
    cursor: pointer;
}

/*Secciones de la página*/
.seccion {
    height: 49.16vw;
    position: relative;
}

.contenido {
    width: 100%;
    position: absolute;
    z-index: 10;
}

.contenido .bloque {
    width: 100%;
    padding: 0 22vw;

    transition: all .35s .35s;
}

.contenido .bloque.mini {
    padding: 0 15vw;
    width: 62vw;

    transition: all .35s .35s;
}

.contenido .bloque span {
   
}

.contenido .formulario {
    background: #fefefe;
    height: 18vw;
    width: 0;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

    transform: translateX(50vw);
    position: relative;
    transition: all .35s .35s;
}

.contenido .formulario.show {
    transform: translateX(0);
    width: 20vw;

    transition: all .35s .35s;
}

.contenido .formulario .cerrar_btn {
    position: absolute;
    top: -1vw;
    right: -1vw;
    background: red;
    color: #fefefe;
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    text-align: center;
    line-height: 2vw;
    z-index: 999;
    cursor: pointer;
    font-size: .9vw;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.contenido .formulario .cerrar_btn:active {
    transform: scale(0.98);
}

.contenido .formulario .progress {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: .2vw; 
    background: none;
}

.contenido .formulario  .progress .indeterminate {
    background-color: #325DFF;
}

.contenido .formulario .centro {
    
}

.contenido .formulario .centro .texto {
    display: block;
    text-align: center;
    margin: 1vw 0;
    letter-spacing: .04vw;
    font-weight: 700;
    font-size: 1vw;
}

.contenido .formulario .centro input {
    width: 100%;
    margin: 0;
    margin-bottom: .5vw;
    padding: 1vw;
    background: #eee;
    border: none;
    border-radius: .5vw;
    outline: 0;
    font-size: .9vw;
}

.contenido .formulario .centro a {
    width: 100%;
    display: block;
    padding: .8vw;
    text-align: center;
    background: #325DFF;
    border-radius: .5vw;
    color: #fefefe;
    margin-bottom: .5vw;
    cursor: pointer;
    letter-spacing: .07vw;
    font-weight: 500;
    font-size: .9vw;
}

.contenido .formulario .centro a.noactive {
    pointer-events: none;
    background: #ddd;
}

.contenido .formulario .centro a:active {
    transform: scale(0.98);
}

.modale  {
    display: none;
    position: absolute;
    z-index: 999;
    background: #00000080;
    top: 0;
    width: 100vw;
    height: 100vh;
    
    align-items: center;
}

.modale  .cuerpo {
    background: #fff;
    margin: 0 auto;
    width: 45vw;
    height: 28vw;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.modale  .cuerpo .row {
    margin: 0;
    height: 100%;
}

.modale  .cuerpo .row .col.imagen {
    background-image: url(../img/b.jpg);
    height: 100%;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.modale  .cuerpo .row .col.formulario {
    
}

.modale  .cuerpo .row .col.formulario .centro {
    
}

.modale  .cuerpo .row .col.formulario .centro input {
    
}

.modale  .cuerpo .row .col.formulario .centro a {
    
}