body {
    padding: 0;
    margin: 0;
    user-select: none;
}

.row.padre {
    height: 100vh;
    background: #F7F8FA;
    margin: 0;
    padding: 0;
    position: relative;
}

.row.padre .col.hijo_a {
    background: #525A65;
    height: 100%;
    width: 20%;
}

.hijo_a .menu_header {
    padding: 2vw;
}

.hijo_a .menu_header span {
    display: block;
    text-align: center;
    font-size: 1.1vw;
    font-weight: 600;
    color: #f8f8f8;
}

.hijo_a .menu_lista {
    padding: 0 1vw;
}

.hijo_a .menu_lista ul {
    width: 85%;
    margin: 0 auto;
}

.hijo_a .menu_lista ul li {
    padding: 1vw;
}

.hijo_a .menu_lista ul li:hover {
    background: #5C6879;
    border-radius: .5vw;
    cursor: pointer;
}

.hijo_a .menu_lista ul li.active {
    background: #5C6879;
    border-radius: .5vw;
    cursor: pointer;
}

.hijo_a .menu_lista ul li a {
    color: #f8f8f8;
    font-size: .95vw;
}

.hijo_a .menu_lista ul li a i {
    margin-right: .5vw;
    width: 1.5vw;
    text-align: center;
}

.row.padre .col.hijo_b {
    height: 100%;
    width: 80%;
    padding: 0;
    position: relative;
}

.hijo_b .barra {
    background: #fff;
    height: 4vw;
    /*-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);*/
}

.hijo_b .barra .opc {
    float: right;
    height: 2vw;
    margin-top: 1vw;
    padding-right: 4vw;
}

.hijo_b .barra .opc.acc {
    float: left;
    padding-left: 1.5vw;
}

.hijo_b .barra .opc i.button {
    float: left;
    display: block;
    line-height: 2vw;
    font-size: 1.4vw;
    margin: 0 .8vw;
}

.hijo_b .barra .opc i.button:hover {
    cursor: pointer;
}

.hijo_b .barra .opc i.button:active {
    transform: scale(0.96);
}

.hijo_b .barra .opc span.nombre {
    display: block;
    float: left;
    height: 2vw;
    line-height: 2vw;
    margin: 0 .8vw;
    font-size: .9vw;
}

.hijo_b .barra .opc span i.icono {
    width: 2vw;
    text-align: center;
    height: 2vw;
    line-height: 2vw;
    background: #9F9696;
    border-radius: 50%;
    font-size: .9vw;
    color: #f8f8f8;
    margin-right: .8vw;
}

#indicador_progreso {
    position: absolute;
    top: 4vw;
    margin: 0;
    background: #cd5c5c80;
    opacity: 0;
    z-index: -1;
    transition: all .1s .1s;
}

#indicador_progreso .indeterminate{
    background: #cd5c5c;
}

#indicador_progreso.active {
    opacity: 1;
    z-index: 1;
    transition: all .1s .1s;
}

.hijo_b .contenido {
    margin: 0;
    height: calc(100% - 4vw);
    padding: 0;
}

.hijo_b .contenido .col.lista {
    height: 100%;
    width: 32%;
    padding: 2vw;
}

.hijo_b .contenido .col.lista .lista_clientes {
    background: #fff;
    height: 100%;
    padding: 1vw 1vw;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.hijo_b .contenido .col.bloque {
    height: 100%;
    width: 68%;
    padding: 2vw 1vw;
}

.hijo_b .contenido .col.bloque .cajas {
    margin: 0;
    margin-bottom: 1.5vw;
}

.hijo_b .contenido .col.bloque .cajas .caja {
    height: 8.5vw;
    padding: 0 .8vw;
    position: relative;
}

.hijo_b .contenido .col.bloque .cajas .caja .centrar {
    background: #fff;
    height: 100%;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.hijo_b .contenido .col.bloque .cajas .caja .centrar .titulo {
    display: block;
    padding: 1vw;
    font-size: 1vw;
    font-weight: 600;
}

.hijo_b .contenido .col.bloque .cajas .caja .centrar .number {
    display: block;
    color: #83BEDF;
    font-weight: 800;
    font-size: 1.5vw;
    text-align: center;
}

.hijo_b .contenido .col.bloque .cajas .caja .centrar .number i {
    
}

.hijo_b .contenido .col.bloque .cajas .caja .opciones {
    position: absolute;
    right: 1.4vw;
    bottom: .5vw;
}

.hijo_b .contenido .col.bloque .cajas .caja .opciones i {
    font-size: 1.2vw;
    color: #83BEDF;
}

.hijo_b .contenido .col.bloque .cajas .caja .opciones i:hover {
    cursor: pointer;
}

.hijo_b .contenido .col.bloque .cajas .caja .opciones i:active {
    transform: scale(0.96);
}

.hijo_b .contenido .col.bloque .info {
    margin: 0;
    padding: 0 0.8vw;
    height: calc(100% - 17.1vw);
    margin-bottom: 1vw;
}

.hijo_b .contenido .col.bloque .info .col.main {
    height: 100%;
    padding: 0;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.hijo_b .contenido .col.bloque .info .col.main .row.sub {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
}

.hijo_b .contenido .col.bloque .info .col.main .row.sub .col {
    height: auto;
    margin: 1vw 0;
    padding: 0;
}

.hijo_b .contenido .col.bloque .info .col.main .row.sub .col .titulo {
    display: block;
    text-align: center;
    padding: 2vw 0;
    font-size: 1vw;
    font-weight: 700;
}

.hijo_b .contenido .col.bloque .info .col.main .row.sub .col input {
    width: 80%;
    margin: 0 auto;
    display: block;
    padding: 1vw;
    margin-bottom: .7vw;
    border: none;
    border-radius: .5vw;
    background: #F7F8FA;
    font-size: .9vw;
    outline: 0;
}

.hijo_b .contenido .col.bloque .info .col.main .row.sub .col select {
    width: 80%;
    margin: 0 auto;
    display: block;
    padding: 1vw;
    border: none;
    border-radius: .5vw;
    margin-bottom: .7vw;
    background: #F7F8FA;
    font-size: .9vw;
    outline: 0;
    height: 3.1vw;
}

.hijo_b .contenido .col.bloque .subclientes {
    margin: 0;
    height: 6.1vw;
    padding: 0 .8vw;
}

.hijo_b .contenido .col.bloque .subclientes .col.s12 {
    height: 100%;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.hijo_b .contenido .col.bloque .subclientes .col.s12 .chipes {
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.hijo_b .contenido .col.bloque .subclientes .col.s12 .chipes .chipe {
    height: 100%;
    width: auto;
    display: inline-flex;
    align-items: center;
    margin: 0 1vw;
}

.hijo_b .contenido .col.bloque .subclientes .col.s12 .chipes .chipe .a {
    padding: 0vw;
    background: #525A65;
    font-size: 1.5vw;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    line-height: 3vw;
    text-align: center;
    color: #f8f8f8;
}

.hijo_b .contenido .col.bloque .subclientes .col.s12 .chipes .chipe .a i {

}

.hijo_b .contenido .col.bloque .subclientes .col.s12 .chipes .chipe .b {
    padding-left: .5vw;
}

.hijo_b .contenido .col.bloque .subclientes .col.s12 .chipes .chipe .b span {
    display: block;
}

.hijo_b .contenido .col.bloque .subclientes .col.s12 .chipes .chipe .b span.etiqueta {
    font-size: 1vw;
    font-weight: 700;
    line-height: 1vw;
}

.hijo_b .contenido .col.bloque .subclientes .col.s12 .chipes .chipe .b span.nombre {
    font-size: .7vw;
}

.ul_clientes {
    height: 100%;
    margin: 0;
    overflow-y: auto;
}

.ul_clientes .li_cliente {
    height: 3.5vw;
    display: flex;
    align-items: center;
}

.ul_clientes .li_cliente:hover {
    cursor: pointer;
    background: #f8f8f8;
    border-radius: .8vw;
}

.ul_clientes .li_cliente.active {
    background: #f8f8f8;
    border-radius: .8vw;
}

.ul_clientes .li_cliente .vertical {
    width: 100%;
    padding: 0 2vw;
}

.ul_clientes .li_cliente .vertical i {
    font-size: 1vw;
    margin-right: .8vw;
}

.ul_clientes .li_cliente .vertical span {

}

.modale {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;

    z-index: -1;
    opacity: 0;
    transition: all .2s .2s;
}

.modale.active {
    z-index: 425;
    opacity: 1;
    transition: all .2s .2s;
}

.modale .contenido {
    width: 45vw;
    background: #fff;
    height: 32vw;
    margin: 0 auto;
    border-radius: .2vw;
    position: relative;
}

.modale.moo_height_15vw .contenido {
    height: 16vw;
}

.modale .contenido .snac {
    background: #525A65;
    border-top-right-radius: .2vw;
    border-top-left-radius: .2vw;
    height: 4vw;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.modale .contenido .snac .intro {
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.5vw;
}

.modale .contenido .snac .intro span {
    color: #f8f8f8;
    font-weight: 500;
}

.modale .contenido .snac .opciones {
    float: right;
    padding: 0 1vw;
    height: 100%;
    display: flex;
    align-items: center;
}

.modale .contenido .snac .opciones i {
    margin-right: .5vw;
    font-size: 1.3vw;
    color: #f8f8f8;
}

.modale .contenido .snac .opciones i:hover {
    cursor: pointer;
}

.modale .contenido .snac .opciones i:active {
    transform: scale(0.96);
}

.modale .contenido .snac .opciones .btn_action_modale.noactive {
    pointer-events: none;
    color: #a9a9a9;
    cursor: not-allowed;
}

.modale .contenido .progress {
    position: absolute;
    top: 4vw;
    margin: 0;
    background: #cd5c5c80;
    opacity: 0;
    z-index: -1;
    transition: all .1s .1s;
}

.modale .contenido .progress .indeterminate {
    background: #cd5c5c;   
}

.modale .contenido .progress.active {
    opacity: 1;
    z-index: 1;
    transition: all .1s .1s;
}

.modale .contenido .mate {
    height: calc(100% - 4vw);
    overflow-y: auto;
    padding: 1.5vw 0;
}

.modale .contenido .mate .row {
    padding: 0 2vw;
    margin-bottom: .8vw;
}

.modale .contenido .mate .row .col {

}

.modale .contenido .mate .row .col span.error {
    color: red;
    font-weight: 700;
    margin: 1vw 0;
}

.modale .contenido .mate .row .col span.msg {
    color: blue;
    font-weight: 700;
    margin: 1vw 0;
}

.modale .contenido .mate .row .col p {
    font-size: .9vw;
    color: #000;
    margin: 1vw 0 0 0;
}

.modale .contenido .mate .row .col input {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 1vw;
    border: none;
    border-radius: .5vw;
    background: #F7F8FA;
    font-size: .9vw;
    outline: 0;
}

.modale .contenido .mate .row .col select {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 1vw;
    border: none;
    border-radius: .5vw;
    background: #F7F8FA;
    font-size: .9vw;
    outline: 0;
    height: 3.1vw;
}

.modale .contenido .mate.row {
    padding: 0.5vw 0;
}

.modale .contenido .mate.row .col.main {
    height: 100%;
    padding: 0 1vw;
}

.modale .contenido .mate.row .main.a {
    overflow-y: auto;
}

.modale .contenido .mate.row .main.a ul.collapsible {

}

.modale .contenido .mate.row .main.a ul.collapsible li {
    
}

.modale .contenido .mate.row .main.a ul.collapsible li .collapsible-header {
    color: #525A65;
    font-size: .9vw;
    line-height: 1.2;
    font-weight: 600;
}

.modale .contenido .mate.row .main.a ul.collapsible li .collapsible-header i {
    font-size: .9vw;
    line-height: 1.2;
}

.modale .contenido .mate.row .main.a ul.collapsible li .collapsible-body {
    padding: 0.5vw 1vw;
}

.modale .contenido .mate.row .main.a ul.collapsible li .collapsible-body ul.collection {
    
}

.modale .contenido .mate.row .main.a ul.collapsible li .collapsible-body ul.collection li {
    font-size: .9vw;
    line-height: 1.2;
    color: #525A65;
    padding: .8vw .8vw;
    transition: all .15s .15s;
    position: relative;
}

.modale .contenido .mate.row .main.a ul.collapsible li .collapsible-body ul.collection li::before,
.modale .contenido .mate.row .main.a ul.collapsible li .collapsible-body ul.collection li::after {
    position: absolute;
    right: 1.4vw;
    content: ' ';
    height: .8vw;
    width: 2px;
    background-color: #525A65;
    opacity: 0;
    transition: all .15s .15s;
    margin-top: .15vw;
    cursor: pointer;
    z-index: 1;
}

.modale .contenido .mate.row .main.a ul.collapsible li .collapsible-body ul.collection li:hover  {
    background: #F7F8FA;
    border-radius: .5vw;
    transition: all .15s .15s;
}
 
.modale .contenido .mate.row .main.a ul.collapsible li .collapsible-body ul.collection li:hover::before, .modale .contenido .mate.row .main.a ul.collapsible li .collapsible-body ul.collection li:hover::after {
    opacity: 1;
    transition: all .05s .05s;
}

.modale .contenido .mate.row .main.a ul.collapsible li .collapsible-body ul.collection li:hover::before {
    transform: rotate(45deg);
}

.modale .contenido .mate.row .main.a ul.collapsible li .collapsible-body ul.collection li:hover::after {
    transform: rotate(-45deg);
}

.modale .contenido .mate.row .main.a ul.collapsible li .collapsible-body ul.collection li .eliminar_canton {
    position: absolute;
    right: 1vw;
    content: ' ';
    height: .8vw;
    width: 1vw;
    background-color: transparent;
    transition: all .15s .15s;
    margin-top: .15vw;
    cursor: pointer;
    z-index: 100;
}

.modale .contenido .mate.row .main.a ul.collapsible li .collapsible-body ul.collection li:hover .eliminar_canton {
    cursor: pointer;
}

.modale .contenido .mate.row .main.a ul.collapsible li .collapsible-body .btn_eliminar_provincia {
    display: block;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    width: 9vw;
    font-size: .8vw;
    text-align: center;
    margin-left: calc(100% - 9vw);
    color: darkred;
    padding: .8vw 0;
}

.modale .contenido .mate.row .main.a ul.collapsible li .collapsible-body .btn_eliminar_provincia.noactive {
    pointer-events: none;
}

.modale .contenido .mate.row .main.b {
    background: #F7F8FA;
    padding: 0;
}

.modale .contenido .mate.row .main.b input,
.modale .contenido .mate.row .main.b select {
    background: #fff;
}

.modale .contenido .mate.row .main.b ul.tabs {
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.modale .contenido .mate.row .main.b ul.tabs li.tab {
    
}

.modale .contenido .mate.row .main.b ul.tabs li.tab a {
    color: #00000080;
    text-transform: none;
    font-size: .9vw;
}

.modale .contenido .mate.row .main.b ul.tabs li.tab a.active {
    color: #525A65;
}

.modale .contenido .mate.row .main.b ul.tabs li.tab a:focus.active {
    background: transparent;
    outline: none;
}

.modale .contenido .mate.row .main.b ul.tabs li.indicator {
    background: #525A65;
}

.modale .contenido .mate.row .main.b .tab_div {
    background: #F7F8FA;
    height: calc(100% - 48px);
}

.modale .contenido .mate .row .col .button_bloq {
    font-size: .85vw;
    margin: 0 auto;
    display: block;
    background: #fff;
    border: none;
    padding: 0.7vw 1.3vw;
    border-radius: .5vw;
    color: #000;
    font-weight: 500;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.modale .contenido .mate .row .col .button_bloq.noactive {
    pointer-events: none;
}

.modale .contenido .mate .row .col .button_bloq:hover {
    cursor: pointer;
}

.modale .contenido .mate .row .col .button_bloq:active {
    transform: scale(0.98);
}

.modale .contenido .mate .row .col .error_msg_ubi {
    text-align: center;
    font-weight: 600;
}

.modale .contenido .mate .row .col .error_msg_ubi.error {
    color: darkred;
}   

.modale .contenido .mate .row .col .error_msg_ubi.info {
    color: #525A65;
}

.modale .contenido .mate .loader_ubcaciones {
    display: none;
}

.modale .contenido .mate .loader_ubcaciones.active {
    display: block;
}

.modale .contenido .mate .loader_ubcaciones.active .col .preloader-wrapper {
    display: block;
    margin: 0 auto;
}

.modale .contenido .mate.row .main.b .tab_pag {
    padding: 0;
}

.modale .contenido .mate.row .main.b .tab_pag.a .row {
    height: 100%;
    padding: 0;
    margin: 0;
}

.modale .contenido .mate.row .main.b .tab_pag.a .row .col {
    padding: 0;
    height: 100%;
}

.modale .contenido .mate.row .main.b .tab_pag.a .row .col.a {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.modale .contenido .mate.row .main.b .tab_pag.a .row .col.b {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.modale .contenido .mate.row .main.b .tab_pag.a .row .col .titulo {
    display: block;
    text-align: center;
    font-weight: 600;
    color: #525A65;
    height: 3vw;
    line-height: 3vw;
}

.modale .contenido .mate.row .main.b .tab_pag.a .row .col .anos {
    height: calc(100% - 3vw);
    overflow-y: auto;
}

.modale .contenido .mate.row .main.b .tab_pag.a .row .col .anos .ano {
    padding: .5vw 0;
}

.modale .contenido .mate.row .main.b .tab_pag.a .row .col .anos .ano span {
    display: block;
    margin: 0 auto;
    width: 4vw;
    text-align: center;
    padding: .5vw 0;
    border-radius: .5vw;
    transition: all .1s .1s;
}

.modale .contenido .mate.row .main.b .tab_pag.a .row .col .anos .ano span:hover {
    cursor: pointer;
    background: #525A65;
    color: #f8f8f8;
    transition: all .01s .01s;
}

.modale .contenido .mate.row .main.b .tab_pag.a .row .col .anos .ano span.active {
    background: #525A65;
    color: #f8f8f8;
}

.modale .contenido .mate.row .main.b .tab_pag.a .row .col .div_pagos_por_anno {
    margin: 0;
}

.modale .contenido .mate.row .main.b .tab_pag.b {
    padding: 1.6vw 0;
}


