<!DOCTYPE html>
<html>
<head>
	<title>Newspoth</title>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" , content="yes">
	<meta name="author" content="André Montoya">
	<meta name="description" content="Aplicación para publicidad a través del hotspot">
	<meta name="keywords" content="publicidad, hotspot, promociona, vende, mejora negocio">
	<link rel="icon" href="/update/img/icono.svg" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
	<link href='/update/css/index.min.css' rel='stylesheet' type='text/css'>

	<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</head>
<body>
	<div class="seccion seccion_fondoa centrado_vertical">
		<div class="back_color_0000FD"></div>
		<div class="snackbar">
			<div class="bloque div_left">
				<span class="logo">newspoth</span>
			</div>
			<div class="bloque div_right">
				<ul>
					<li>
						<a id="login_show_btn">¿Ya eres cliente? Ingresa Aquí</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="contenido centrado_vertical">
			<div class="bloque" id="bloque">
				<span class="span_block texto_big texto_center">Tu publicidad al alcance de todos</span>
			</div>
			<div class="formulario" id="formulario">
				<i class="fas fa-times cerrar_btn" id="cerrar_btn"></i>
				<div class="progress hide" id="loader">
					<div class="indeterminate"></div>
				</div>
				<div class="centro">
					<span class="texto">Ingresa tus datos</span>
					<input type="text" class="browser-default input_maqueta" id="email" placeholder="Ingresa tu email">
					<input type="password" class="browser-default input_maqueta" id="password" placeholder="Ingresa tu contraseña">
					<a id="btn_login">Ingresar</a>
				</div>
			</div>
		</div>
	</div>
	<!--Modales-->
	<!--Modales-->
	<!--scripts-->
	<script src="https://www.gstatic.com/firebasejs/5.5.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.5.1/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.5.9/firebase-firestore.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src='/update/js/index.min.js'></script>
	<script>
		
	</script>
</body>