<!DOCTYPE html>
<html>
<head>
    <title>Maquetas</title>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable", content="yes">
    <meta name="author" content="André Montoya">
    <meta name="description" content="Aplicación para publicidad a través del hotspot">
    <meta name="keywords" content="publicidad, hotspot, promociona, vende, mejora negocio">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href='/update/css/admin/admin_plantillas.min.css' rel='stylesheet' type='text/css'>
    
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script>
        var user = {{json user}};
        var lista_clientes = {{json lista_clientes}};
        var lista_provincias = {{json lista_provincias}};
        var lista_cantones = {{json lista_cantones}};
        var lista_maquetas = {{json lista_maquetas}};
    </script>
</head>
<body>
    <div class="row padre">
        <div class="col s2 hijo_a">
            <div class="menu_header">
                <span>Panel de administración</span>
            </div>
            <div class="menu_lista">
                <ul>
                    <li data-target="0">
                        <a href="/admin/clientes?a={{user.id}}">
                            <i class="fas fa-user-friends"></i>
                            Clientes
                        </a>
                    </li>
                    <li data-target="1" class="active">
                        <a href="/admin/maquetas?a={{user.id}}">
                            <i class="far fa-file-powerpoint"></i>
                            Maquetas
                        </a>
                    </li>
                    <li data-target="2">
                        <a href="/admin/hotspots?a={{user.id}}">
                            <i class="fas fa-server"></i>
                            Hotspots
                        </a>
                    </li>
                    <li data-target="3">
                        <a href="/admin/anuncios?a={{user.id}}">
                            <i class="fas fa-ad"></i>
                            Anuncios
                        </a>
                    </li>
                    <li data-target="4">
                        <a>
                            <i class="fas fa-share-alt"></i>
                            Reportes
                        </a>
                    </li>
                    <li data-target="5">
                        <a id="btn_logout">
                            <i class="fas fa-sign-out-alt"></i>
                            Cerrar Sesión
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s10 hijo_b">
            <div class="barra">
                <div class="opc acc">
                    <i class="fas fa-plus-square button btn_modal_action" id="boton_add_maqueta" data-target="modal_add_maqueta"></i>
                </div>
                <div class="opc">
                    <i class="fas fa-question button"></i>
                    <i class="fas fa-bell button"></i>
                    <span class="nombre">
                        <i class="fas fa-user icono"></i>
                        {{user.data.nombres}} {{user.data.apellidos}}
                    </span>
                </div>
            </div>
            <div class="progress" id="indicador_progreso">
                <div class="indeterminate"></div>
            </div>
            <div class="contenido row">
                <div class="col lista">
                    <div class="lista_clientes">
                        <ul class="ul_items" id="ul_maquetas_lista">
                            {{#each lista_maquetas as |maqueta i|}}
                                <li class="li_item" id="li_maqueta_{{maqueta.id}}" data-target="{{maqueta.id}}">
                                    <div class="vertical">
                                        <i class="fas fa-briefcase"></i>
                                        <span class="maqueta_etiqueta">{{maqueta.data.etiqueta}}</span>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="col bloque">
                    <div class="row" id="row_form_maqueta">
                        <input type="hidden" id="id_maqueta" value="">
                        <div class="col s12 col_titulo">
                            <span>Información General</span>
                        </div>
                        <div class="col s6 col_input">
                            <select class="browser-default" id="id_cliente" disabled>
                                <option value="none" selected>Selecciona el cliente</option>
                                {{#each lista_clientes as |cliente i|}}
                                    <option value="{{cliente.id}}">{{cliente.data.empresa.nombre}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col s6 col_input">
                            <input type="text" class="browser-default" placeholder="Etiqueta" id="etiqueta" disabled>
                        </div>
                        <div class="col s6 col_input">
                            <input type="text" class="browser-default" placeholder="Fecha y hora de creación" id="fecha_hora" disabled>
                        </div>
                        <div class="col s12 col_titulo">
                            <span>Facebook, Acceso al internet</span>
                        </div>
                        <div class="col s5 col_checkbox">
                            <p>
                                <label>
                                    <input type="checkbox" class="filled-in check_status" id="status_facebook"/>
                                    <span>Facebook Login, Botón de Like</span>
                                </label>
                            </p>
                        </div>
                        <div class="col s4 col_checkbox">
                            <p>
                                <label>
                                    <input type="checkbox" class="filled-in check_status" id="status_login_by_mac"/>
                                    <span>Login por Mac</span>
                                </label>
                            </p>
                        </div>
                        <div class="col s3 col_checkbox">
                            <p>
                                <label>
                                    <input type="checkbox" class="filled-in check_status" id="status_login_by_trial"/>
                                    <span>Acceso a Trial</span>
                                </label>
                            </p>
                        </div>
                        <div class="col s12 col_input">
                            <input type="text" class="browser-default input_maqueta" id="url_fb_like" placeholder="URL de la página en Facebook">
                        </div>
                        <div class="col s12 col_titulo">
                            <span>Imagen de fondo y banner para PC</span>
                        </div>
                        <div class="col s4 col_indicaciones">
                            <div class="centro">
                                <span class="a">Medidas del Banner</span>
                                <span class="b"><b>Ancho:</b> 1920 px</span>
                                <span class="b"><b>Alto:</b> 180 px</span>
                                <span class="a">Medidas del Fondo</span>
                                <span class="b"><b>Ancho:</b> 1920 px</span>
                                <span class="b"><b>Alto:</b> 1280 px</span>
                                <span class="b"><b>Margen superior:</b> 180 px</span>
                                <span class="b"><b>Margen inferior:</b> 140 px</span>
                                <span class="a">Formato de imágenes</span>
                                <span class="b"><b>Formato:</b> .jpeg</span>
                            </div>
                        </div>
                        <div class="col s8 col_device pc">
                            <div class="a div_with_fondo" id="fondo_pc_preview">
                                <div class="b div_with_fondo" id="banner_pc_preview">
                                    <input type="file" class="hide file_maqueta" id="banner_pc_input" accept="image/jpg" data-tipo='0'>
                                    <i class="fas fa-camera btn_file" id="banner_pc" data-input="banner_pc_input"></i>
                                </div>
                                <input type="file" class="hide file_maqueta" id="fondo_pc_input" accept="image/jpg" data-tipo='1'>
                                <i class="fas fa-camera btn_file" id="fondo_pc" data-input="fondo_pc_input"></i>
                                <div class="c">
                                    <span>Margen inferior</span>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 col_titulo">
                            <span>Imagen de fondo y banner para Tablet</span>
                        </div>
                        <div class="col s4 col_indicaciones">
                            <div class="centro">
                                <span class="a">Medidas del Banner</span>
                                <span class="b"><b>Ancho:</b> 768 px</span>
                                <span class="b"><b>Alto:</b> 145 px</span>
                                <span class="a">Medidas del Fondo</span>
                                <span class="b"><b>Ancho:</b> 768 px</span>
                                <span class="b"><b>Alto:</b> 1024 px</span>
                                <span class="b"><b>Margen superior:</b> 140 px</span>
                                <span class="b"><b>Margen inferior:</b> 280 px</span>
                                <span class="a">Formato de imágenes</span>
                                <span class="b"><b>Formato:</b> .jpeg</span>
                            </div>
                        </div>
                        <div class="col s8 col_device movil tab">
                            <div class="a div_with_fondo" id="fondo_tab_preview">
                                <div class="b div_with_fondo" id="banner_tab_preview">
                                    <input type="file" class="hide file_maqueta" id="banner_tab_input" accept="image/jpg" data-tipo='2'>
                                    <i class="fas fa-camera btn_file" id="banner_tab" data-input="banner_tab_input"></i>
                                </div>
                                <input type="file" class="hide file_maqueta" id="fondo_tab_input" accept="image/jpg" data-tipo='3'>
                                <i class="fas fa-camera btn_file" id="fondo_tab" data-input="fondo_tab_input"></i>
                                <div class="c">
                                    <span>Margen inferior</span>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 col_titulo">
                            <span>Imagen de fondo y banner para Movil</span>
                        </div>
                        <div class="col s4 col_indicaciones">
                            <div class="centro">
                                <span class="a">Medidas del Banner</span>
                                <span class="b"><b>Ancho:</b> 414 px</span>
                                <span class="b"><b>Alto:</b> 90 px</span>
                                <span class="a">Medidas del Fondo</span>
                                <span class="b"><b>Ancho:</b> 414 px</span>
                                <span class="b"><b>Alto:</b> 736 px</span>
                                <span class="b"><b>Margen superior:</b> 90 px</span>
                                <span class="b"><b>Margen inferior:</b> 227 px</span>
                                <span class="a">Formato de imágenes</span>
                                <span class="b"><b>Formato:</b> .jpeg</span>
                            </div>
                        </div>
                        <div class="col s8 col_device movil mov">
                            <div class="a div_with_fondo" id="fondo_mov_preview">
                                <div class="b div_with_fondo" id="banner_mov_preview">
                                    <input type="file" class="hide file_maqueta" id="banner_mov_input" accept="image/jpg" data-tipo='4'>
                                    <i class="fas fa-camera btn_file" id="banner_mov" data-input="banner_mov_input"></i>
                                </div>
                                <input type="file" class="hide file_maqueta" id="fondo_mov_input" accept="image/jpg" data-tipo='5'>
                                <i class="fas fa-camera btn_file" id="fondo_mov" data-input="fondo_mov_input"></i>
                                <div class="c">
                                    <span>Margen inferior</span>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 col_titulo">
                            <span>Menu de opciones (botones de 72 x 72 px, y en jpg o jpeg)</span>
                        </div>
                        <div class="col s6 col_button">
                            <div class="row no_bac">
                                <div class="col s5 uno">
                                    <div class="a">
                                        <div class="b div_with_fondo" id="icono_a_preview">
                                            <input type="file" class="hide file_maqueta" id="icono_a_input" accept="image/jpg" data-tipo='6'>
                                            <i class="fas fa-camera btn_file" id="icono_a" data-input="icono_a_input"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s7 dos">
                                    <div class="b">
                                        <span class="titulo">Datos principales</span>
                                        <input class="browser-default input_maqueta" id="icono_a_etiqueta" type="text" placeholder="Etiqueta del botón" maxlength="8" >
                                        <select class="browser-default select_maqueta" id="icono_a_tipo">
                                            <option value="none" selected>Tipo de contenido</option>
                                            <option value="0/Video">Video</option>
                                            <option value="1/Promociones">Promociones</option>
                                            <option value="2/Turísmo">Turísmo</option>
                                            <option value="3/Agenda">Agenda</option>
                                            <option value="4/Puntos Wifi">Puntos Wifi</option>
                                            <option value="5/Visitas 360º">Visitas 360º</option>
                                        </select>
                                        <input class="browser-default input_maqueta" id="icono_a_titulo" type="text" placeholder="Título" maxlength="28" >
                                        <a id="icono_a_cargar_contenido" data-button="a" class="icono_button_modal">Editar contenido</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s6 col_button">
                            <div class="row no_bac">
                                <div class="col s5 uno">
                                    <div class="a">
                                        <div class="b div_with_fondo" id="icono_b_preview">
                                            <input type="file" class="hide file_maqueta" id="icono_b_input" accept="image/jpg" data-tipo='7'>
                                            <i class="fas fa-camera btn_file" id="icono_b" data-input="icono_b_input"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s7 dos">
                                    <div class="b">
                                        <span class="titulo">Datos principales</span>
                                        <input class="browser-default input_maqueta" id="icono_b_etiqueta" type="text" placeholder="Etiqueta del botón" maxlength="8"/>
                                        <select class="browser-default select_maqueta" id="icono_b_tipo">
                                            <option value="none" selected>Tipo de contenido</option>
                                            <option value="0/Video">Video</option>
                                            <option value="1/Promociones">Promociones</option>
                                            <option value="2/Turísmo">Turísmo</option>
                                            <option value="3/Agenda">Agenda</option>
                                            <option value="4/Puntos Wifi">Puntos Wifi</option>
                                            <option value="5/Visitas 360º">Visitas 360º</option>
                                        </select>
                                        <input class="browser-default input_maqueta" id="icono_b_titulo" type="text" placeholder="Título" maxlength="20"/>
                                        <a id="icono_b_cargar_contenido" data-button="b" class="icono_button_modal">Editar contenido</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s6 col_button">
                            <div class="row no_bac">
                                <div class="col s5 uno">
                                    <div class="a">
                                        <div class="b div_with_fondo" id="icono_c_preview">
                                            <input type="file" class="hide file_maqueta" id="icono_c_input" accept="image/jpg" data-tipo='8'>
                                            <i class="fas fa-camera btn_file" id="icono_c" data-input="icono_c_input"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s7 dos">
                                    <div class="b">
                                        <span class="titulo">Datos principales</span>
                                        <input class="browser-default input_maqueta" id="icono_c_etiqueta" type="text" placeholder="Etiqueta del botón" maxlength="8"/>
                                        <select class="browser-default select_maqueta" id="icono_c_tipo">
                                            <option value="none" selected>Tipo de contenido</option>
                                            <option value="0/Video">Video</option>
                                            <option value="1/Promociones">Promociones</option>
                                            <option value="2/Turísmo">Turísmo</option>
                                            <option value="3/Agenda">Agenda</option>
                                            <option value="4/Puntos Wifi">Puntos Wifi</option>
                                            <option value="5/Visitas 360º">Visitas 360º</option>
                                        </select>
                                        <input class="browser-default input_maqueta" id="icono_c_titulo" type="text" placeholder="Título" maxlength="20"/>
                                        <a id="icono_c_cargar_contenido" data-button="c" class="icono_button_modal">Editar contenido</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s6 col_button">
                            <div class="row no_bac">
                                <div class="col s5 uno">
                                    <div class="a">
                                        <div class="b div_with_fondo" id="icono_d_preview">
                                            <input type="file" class="hide file_maqueta" id="icono_d_input" accept="image/jpg" data-tipo='9'>
                                            <i class="fas fa-camera btn_file" id="icono_d" data-input="icono_d_input"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s7 dos">
                                    <div class="b">
                                        <span class="titulo">Datos principales</span>
                                        <input class="browser-default input_maqueta" id="icono_d_etiqueta" type="text" placeholder="Etiqueta del botón" maxlength="8"/>
                                        <select class="browser-default select_maqueta" id="icono_d_tipo">
                                            <option value="none" selected>Tipo de contenido</option>
                                            <option value="0/Video">Video</option>
                                            <option value="1/Promociones">Promociones</option>
                                            <option value="2/Turísmo">Turísmo</option>
                                            <option value="3/Agenda">Agenda</option>
                                            <option value="4/Puntos Wifi">Puntos Wifi</option>
                                            <option value="5/Visitas 360º">Visitas 360º</option>
                                        </select>
                                        <input class="browser-default input_maqueta" id="icono_d_titulo" type="text" placeholder="Título" maxlength="20"/>
                                        <a id="icono_d_cargar_contenido" data-button="d" class="icono_button_modal">Editar contenido</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modales Begin -->
    <div class="modale moo_height_11vw" id="modal_add_maqueta">
        <div class="contenido">
            <div class="snac">
                <div class="intro">
                    <span>Registrar Maqueta</span>
                </div>
                <div class="opciones">
                    <i class="far fa-check-circle btn_action_modale" id="registrar_maqueta"></i>
                    <i class="far fa-times-circle btn_close_modale" id="close_modale" data-target="modal_add_maqueta"></i>
                </div>
            </div>
            <div class="progress" id="modale_progreso_add_maqueta">
                <div class="indeterminate"></div>
            </div>
            <div class="mate">
                <div class="row">
                    <div class="col s6">
                        <select class="browser-default" id="reg_maq_id_cliente">
                            <option value="none" selected>Selecciona el cliente</option>
                            {{#each lista_clientes as |cliente i|}}
                                <option value="{{cliente.id}}">{{cliente.data.empresa.nombre}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col s6">
                        <input class="browser-default" id="reg_maq_etiqueta" type="text" placeholder="Etiqueta de la maqueta" name="etiqueta" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modale moo_height_34vw" id="modal_setting_botones">
        <div class="contenido mod">
            <div class="snac">
                <div class="intro">
                    <span>Editar contenido del botón</span>
                </div>
                <div class="opciones">
                    <i class="far fa-times-circle btn_close_modale" id="close_modale" data-target="modal_setting_botones"></i>
                </div>
            </div>
            <div class="progress" id="modale_progreso_setting_botones">
                <div class="indeterminate"></div>
            </div>
            <input type="hidden" id="setting_id_modulo" value="">
            <input type="hidden" id="setting_id_cliente" value="">
            <input type="hidden" id="setting_tipo" value="">
            <div class="mate row no_pad modulo_contenido" id="contenido_0">
                <div class="col s6 a">
                    <span class="titulo">Lista de videos</span>
                    <div class="lista_contenido">
                        <ul class="collapsible bloque_collap_items" id="lista_a_contenido_0">

                        </ul>
                    </div>
                </div>
                <div class="col s6 b">
                    <span class="titulo">Registrar video</span>
                    <div class="lista_contenido" id="lista_b_contenido_0">
                        <input class="browser-default" type="text" id="reg_item_cnt0_etiqueta" placeholder="Nombre del video">
                        <div class="preview_file">
                            <input type="file" class="hide file_video_modulo" id="reg_item_cnt0_url_input" data-file="reg_item_cnt0_url" accept="video/mp4">
                            <video id="reg_item_cnt0_url_preview" muted controls>
                                <source src="" id="reg_item_cnt0_url_preview_source">
                            </video>
                            <i class="fas fa-plus-circle btn_file" data-input="reg_item_cnt0_url_input"></i>
                        </div>
                        <textarea class="browser-default descripcion" id="reg_item_cnt0_descripcion" placeholder="Descripción del video (250 caracteres)" maxlength="250"></textarea>
                        <a class="button" id="reg_item_cnt0_button" data-file="reg_item_cnt0">Publicar</a>
                    </div>
                </div>
            </div>
            <div class="mate row no_pad modulo_contenido" id="contenido_1">
                <div class="col s6 a">
                    <span class="titulo">Lista de promociones</span>
                    <div class="lista_contenido">
                        <ul class="collapsible bloque_collap_items" id="lista_a_contenido_1">

                        </ul>
                    </div>
                </div>
                <div class="col s6 b">
                    <span class="titulo">Registrar promoción</span>
                    <div class="lista_contenido" id="lista_b_contenido_0">
                        <input class="browser-default" type="text" id="reg_item_cnt1_etiqueta" placeholder="Título de la promoción">
                        <div class="preview_file">
                            <input type="file" class="hide file_imagen_modulo" id="reg_item_cnt1_url_input" data-file="reg_item_cnt1_url" accept="image/jpg, image/jpeg">
                            <img id="reg_item_cnt1_url_preview">
                            <i class="fas fa-plus-circle btn_file" data-input="reg_item_cnt1_url_input"></i>
                        </div>
                        <textarea class="browser-default descripcion" id="reg_item_cnt1_descripcion" placeholder="Describe la promoción (250 caracteres)" maxlength="250"></textarea>
                        <a class="button" id="reg_item_cnt1_button" data-file="reg_item_cnt1">Publicar</a>
                    </div>
                </div>
            </div>
            <div class="mate row no_pad modulo_contenido" id="contenido_2">
                <div class="col s6 a">
                    <span class="titulo">Lista de lugares</span>
                    <div class="lista_contenido">
                        <ul class="collapsible bloque_collap_items" id="lista_a_contenido_2">

                        </ul>
                    </div>
                </div>
                <div class="col s6 b">
                    <span class="titulo">Registrar Lugar</span>
                    <div class="lista_contenido" id="lista_b_contenido_2">
                        <input class="browser-default" type="text" id="reg_item_cnt2_etiqueta" placeholder="Nombre del lugar">
                        <select id="reg_item_cnt2_categoria" class="browser-default">
                            <option value="none" selected>Selecciona la categoría</option>
                            <option value="0/Centros Diversión Nocturna">Centros Diversión Nocturna</option>
                            <option value="1/Instituciones Educativas">Instituciones Educativas</option>
                            <option value="2/Instituciones Políticas">Instituciones Políticas</option>
                            <option value="3/Parques">Parques</option> 
                            <option value="4/Iglesias">Iglesias</option>
                            <option value="5/Centros culturales">Centros culturales</option>
                        </select>
                        <div class="preview_file">
                            <input type="file" class="hide file_imagen_modulo" id="reg_item_cnt2_url_input" data-file="reg_item_cnt2_url" accept="image/jpg, image/jpeg">
                            <img id="reg_item_cnt2_url_preview">
                            <i class="fas fa-plus-circle btn_file" data-input="reg_item_cnt2_url_input"></i>
                        </div>
                        <textarea class="browser-default descripcion" id="reg_item_cnt2_descripcion" placeholder="Describe la promoción (500 caracteres)" maxlength="500"></textarea>
                        <a class="button" id="reg_item_cnt2_button" data-file="reg_item_cnt2">Publicar</a>
                    </div>
                </div>
            </div>
            <div class="mate row no_pad modulo_contenido" id="contenido_3">
                <div class="col s6 a">
                    <span class="titulo">Lista de Eventos</span>
                    <div class="lista_contenido">
                        <ul class="collapsible bloque_collap_items" id="lista_a_contenido_3">

                        </ul>
                    </div>
                </div>
                <div class="col s6 b">
                    <span class="titulo">Registrar Evento</span>
                    <div class="lista_contenido" id="lista_b_contenido_3">
                        <input class="browser-default" type="text" id="reg_item_cnt3_etiqueta" placeholder="Nombre del evento">
                        <input class="browser-default" type="date" id="reg_item_cnt3_fecha">
                        <input class="browser-default" type="time" id="reg_item_cnt3_hora">
                        <textarea class="browser-default descripcion" id="reg_item_cnt3_descripcion" placeholder="Describe el evento (300 caracteres)" maxlength="300"></textarea>
                        <a class="button" id="reg_item_cnt3_button" data-file="reg_item_cnt3">Publicar</a>
                    </div>
                </div>
            </div>
            <div class="mate row no_pad modulo_contenido" id="contenido_4">
            </div>
            <div class="mate row no_pad modulo_contenido" id="contenido_5">
                <div class="col s6 a">
                    <span class="titulo">Lista de Visitas 360º</span>
                    <div class="lista_contenido">
                        <ul class="collapsible bloque_collap_items" id="lista_a_contenido_5">

                        </ul>
                    </div>
                </div>
                <div class="col s6 b">
                    <span class="titulo">Registrar Vista 360º</span>
                    <div class="lista_contenido" id="lista_b_contenido_5">
                        <input class="browser-default" type="text" id="reg_item_cnt5_etiqueta" placeholder="Nombre del lugar">
                        <input class="browser-default" type="text" id="reg_item_cnt5_lat" placeholder="Latitud">
                        <input class="browser-default" type="text" id="reg_item_cnt5_lng" placeholder="Longitud">
                        <p>La latitud y logitud las puedes obtener de Google Maps</p>
                        <a class="button" id="reg_item_cnt5_button" data-file="reg_item_cnt5">Publicar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modales End -->
    <script src="https://www.gstatic.com/firebasejs/5.5.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.1/firebase-auth.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src='/update/js/admin/admin_plantillas.min.js'></script>
    <script>
        $('#btn_logout').click(function(){
            firebase.auth().signOut().then(function() {
                window.location.href = "/";
            }).catch(function(error) {
                window.location.href = "/";
            });
        });
    </script>
</body>
</html>