<!DOCTYPE html>
<html>
<head>
    <title>Clientes</title>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable", content="yes">
    <meta name="author" content="André Montoya">
    <meta name="description" content="Aplicación para publicidad a través del hotspot">
    <meta name="keywords" content="publicidad, hotspot, promociona, vende, mejora negocio">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href='/update/css/admin/admin_clientes.min.css' rel='stylesheet' type='text/css'>
    
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script>
        var user = {{json user}};
        var lista_clientes = {{json lista_clientes}};
        var lista_subclientes = {{json lista_subclientes}};
        var lista_provincias = {{json lista_provincias}};
        var lista_cantones = {{json lista_cantones}};
        var lista_pagos = {{json lista_pagos}};
        var contadores_cliente = [];
    </script>
</head>
<body>
    <div class="row padre">
        <div class="col s2 hijo_a">
            <div class="menu_header">
                <span>Panel de administración</span>
            </div>
            <div class="menu_lista">
                <ul>
                    <li data-target="0" class="active">
                        <a href="/admin/clientes?a={{user.id}}">
                            <i class="fas fa-user-friends"></i>
                            Clientes
                        </a>
                    </li>
                    <li data-target="1">
                        <a href="/admin/maquetas?a={{user.id}}">
                            <i class="far fa-file-powerpoint"></i>
                            Maquetas
                        </a>
                    </li>
                    <li data-target="2">
                        <a href="/admin/hotspots?a={{user.id}}">
                            <i class="fas fa-server"></i>
                            Hotspots
                        </a>
                    </li>
                    <li data-target="3">
                        <a href="/admin/anuncios?a={{user.id}}">
                            <i class="fas fa-ad"></i>
                            Anuncios
                        </a>
                    </li>
                    <li data-target="4">
                        <a>
                            <i class="fas fa-share-alt"></i>
                            Reportes
                        </a>
                    </li>
                    <li data-target="5">
                        <a id="btn_logout">
                            <i class="fas fa-sign-out-alt"></i>
                            Cerrar Sesión
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s10 hijo_b">
            <div class="barra">
                <div class="opc acc">
                    <i class="fas fa-plus-square button btn_modal_action" id="boton_add_cliente" data-target="modal_add_cliente"></i>
                    <i class="fas fa-user-plus button btn_modal_action" id="boton_add_subcliente" data-target="modal_add_sub_cliente"></i>
                    <i class="fas fa-map-marked-alt button btn_modal_action" id="boton_add_provincia_canton" data-target="modal_add_provincia_canton"></i>
                </div>
                <div class="opc">
                    <i class="fas fa-question button"></i>
                    <i class="fas fa-bell button"></i>
                    <span class="nombre">
                        <i class="fas fa-user icono"></i>
                        {{user.data.nombres}} {{user.data.apellidos}}
                    </span>
                </div>
            </div>
            <div class="progress" id="indicador_progreso">
                <div class="indeterminate"></div>
            </div>
            <div class="contenido row">
                <div class="col lista">
                    <div class="lista_clientes">
                        <ul class="ul_clientes" id="ul_clientes_lista">
                            {{#each lista_clientes as |cliente i|}}
                                <li class="li_cliente" id="li_clientes_{{cliente.id}}" data-target="{{cliente.id}}">
                                    <div class="vertical">
                                        <i class="fas fa-briefcase"></i>
                                        <span class="cliente_nombre">{{cliente.data.empresa.nombre}}</span>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="col bloque">
                    <div class="row cajas">
                        <div class="col s3 caja">
                            <div class="centrar">
                                <span class="titulo">Anuncios</span>
                                <span class="number">
                                    <i class="fas fa-ad"></i>
                                    <span id="cliente_anuncios" class="contador">...</span>
                                </span>
                            </div>
                        </div>
                        <div class="col s3 caja">
                            <div class="centrar">
                                <span class="titulo">Hotspots</span>
                                <span class="number">
                                    <i class="fas fa-wifi"></i>
                                    <span id="cliente_hotspots" class="contador">...</span>
                                </span>
                            </div>
                        </div>
                        <div class="col s3 caja">
                            <div class="centrar">
                                <span class="titulo">Maquetas</span>
                                <span class="number">
                                    <i class="far fa-file-powerpoint"></i>
                                    <span id="cliente_plantillas" class="contador">...</span>
                                </span>
                            </div>
                        </div>
                        <div class="col s3 caja">
                            <div class="centrar">
                                <span class="titulo">Saldo</span>
                                <span class="number">
                                    <i class="fas fa-dollar-sign"></i>
                                    <span id="cliente_saldo" class="">...</span>
                                </span>
                            </div>
                            <div class="opciones">
                                <i class="fas fa-info-circle btn_modal_action" id="btn_modal_pagos" data-target="modal_historial_registro_pagos" data-cliente=""></i>
                            </div>
                        </div>
                    </div>
                    <div class="row info">
                        <div class="col s12 main">
                            <div class="row sub">
                                <div class="col s6" id="info_respresentante">
                                    <span class="titulo">Información del representante</span>
                                    <input class="browser-default input_usuario" id="nombres" type="text" placeholder="Nombres" name="nombres" />
                                    <input class="browser-default input_usuario" id="apellidos" type="text" placeholder="Apellidos" name="apellidos" />
                                    <input class="browser-default input_usuario" id="email" type="email" placeholder="Email" name="email" />
                                    <input class="browser-default input_usuario" id="telefono" type="text" placeholder="Teléfono" name="telefono" />
                                </div>
                                <div class="col s6" id="info_empresa">
                                    <span class="titulo">Información de la empresa</span>
                                    <input class="browser-default input_usuario" id="empresa_nombre" type="text" placeholder="Nombre de la empresa" name="empresa_nombre" />
                                    <input class="browser-default input_usuario" id="empresa_telefono" type="text" placeholder="Teléfono de la empresa" name="empresa_telefono" />
                                    <input class="browser-default input_usuario" id="empresa_email" type="email" placeholder="Email de la empresa" name="empresa_email" />
                                    <input class="browser-default input_usuario" id="empresa_direccion" type="email" placeholder="Dirección de la empresa" name="empresa_direccion" />
                                </div>
                                <div class="col s6" id="info_cuenta_estado">
                                    <span class="titulo">Información de la cuenta</span>
                                    <select class="browser-default" id="estado">
                                        <option value="none" selected>Selecciona el estado</option>
                                        <option value="0">Activo</option>
                                        <option value="1">De baja</option>
                                    </select>
                                    <select class="browser-default" id="cuenta_licencia">
                                        <option value="none" selected>Selecciona la licencia</option>
                                        <option value="0/Saldo-Crédito">Saldo-Crédito</option>
                                        <option value="1/Licencia 1">Licencia 1</option>
                                        <option value="2/Licencia 2">Licencia 2</option>
                                        <option value="3/Licencia 3">Licencia 3</option>
                                    </select>
                                </div>
                                <div class="col s6" id="info_cuenta_licencia">
                                    <span class="titulo">Configuración de URL</span>
                                    <input class="browser-default input_usuario" id="url_api_node" type="text" placeholder="URl de la API" name="url_api_noe" />
                                    <input class="browser-default input_usuario" id="url_redireccionar" type="text" placeholder="URL de re-direccionamiento" name="url_redireccionar" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row subclientes">
                        <div class="col s12">
                            <div class="chipes" id="chipes">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modales Begin -->
    <div class="modale" id="modal_add_cliente">
        <div class="contenido">
            <div class="snac">
                <div class="intro">
                    <span>Registrar Cliente</span>
                </div>
                <div class="opciones">
                    <i class="far fa-check-circle btn_action_modale" id="registrar_cliente"></i>
                    <i class="far fa-times-circle btn_close_modale" id="close_modale" data-target="modal_add_cliente"></i>
                </div>
            </div>
            <div class="progress" id="modale_progreso_cliente">
                <div class="indeterminate"></div>
            </div>
            <div class="mate">
                <div class="row">
                    <div class="col s12">
                        <p>Información del representante</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <input class="browser-default" id="reg_nombres" type="text" placeholder="Nombres" name="nombres" />
                    </div>
                    <div class="col s6">
                        <input class="browser-default" id="reg_apellidos" type="text" placeholder="Apellidos" name="apellidos" />
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <input class="browser-default" id="reg_email" type="email" placeholder="Email" name="email" />
                    </div>
                    <div class="col s6">
                        <input class="browser-default" id="reg_telefono" type="text" placeholder="Teléfono" name="telefono" />
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>Información de la empresa</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <input class="browser-default" id="reg_emp_nombre" type="text" placeholder="Nombre" name="nombres" />
                    </div>
                    <div class="col s6">
                        <input class="browser-default" id="reg_emp_direccion" type="text" placeholder="Dirección" name="direccion" />
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <input class="browser-default" id="reg_emp_email" type="email" placeholder="Email" name="email" />
                    </div>
                    <div class="col s6">
                        <input class="browser-default" id="reg_emp_telefono" type="text" placeholder="Teléfono" name="telefono" />
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>Información de la cuenta</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <select class="browser-default" id="reg_cuenta_tipo">
                            <option value="none" selected>Selecciona la licencia</option>
                            <option value="0/Saldo-Crédito">Saldo-Crédito</option>
                            <option value="1/Licencia 1">Licencia 1</option>
                            <option value="2/Licencia 2">Licencia 2</option>
                            <option value="3/Licencia 3">Licencia 3</option>
                        </select>
                    </div>
                    <div class="col s6">
                        <input class="browser-default" id="reg_cuenta_saldo" type="number" step="0.01" placeholder="Saldo Inicial" name="telefono" />
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>Configuración de URL</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <input class="browser-default input_usuario" id="reg_url_api_node" type="text" placeholder="URl de la API" name="url_api_noe" />
                    </div>
                    <div class="col s6">
                        <input class="browser-default input_usuario" id="reg_url_redireccionar" type="text" placeholder="URL de re-direccionamiento" name="url_redireccionar" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modale moo_height_15vw" id="modal_add_sub_cliente">
        <div class="contenido">
            <div class="snac">
                <div class="intro">
                    <span>Registrar Sub-Cliente</span>
                </div>
                <div class="opciones">
                    <i class="far fa-check-circle btn_action_modale" id="registrar_subcliente"></i>
                    <i class="far fa-times-circle btn_close_modale" id="close_modale" data-target="modal_add_sub_cliente"></i>
                </div>
            </div>
            <div class="progress" id="modale_progreso_subcliente">
                <div class="indeterminate"></div>
            </div>
            <div class="mate">
                <div class="row">
                    <div class="col s6">
                        <select class="browser-default" id="reg_sub_id_cliente">
                            <option value="none" selected>Selecciona el cliente</option>
                            {{#each lista_clientes as |cliente i|}}
                                <option value="{{cliente.id}}">{{cliente.data.empresa.nombre}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col s6">
                        <input class="browser-default" id="reg_sub_etiqueta" type="text" placeholder="Nombre de la empresa" name="etiqueta" />
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <input class="browser-default" id="reg_sub_representante" type="text" placeholder="Nombre del representante" name="representante" />
                    </div>
                    <div class="col s6">
                        <input class="browser-default" id="reg_sub_correo" type="email" placeholder="Correo Empresa/Representante" name="correo" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modale" id="modal_add_provincia_canton">
        <div class="contenido">
            <div class="snac">
                <div class="intro">
                    <span>Administrar Ubicaciones</span>
                </div>
                <div class="opciones">
                    <i class="far fa-times-circle btn_close_modale" id="close_modale" data-target="modal_add_provincia_canton"></i>
                </div>
            </div>
            <div class="progress" id="modale_progreso_subcliente">
                <div class="indeterminate"></div>
            </div>
            <div class="mate row">
                <div class="col s6 main a">
                    <ul class="collapsible" id="lista_collap_provincias">
                        {{#each lista_provincias as |provincia i|}}
                            <li id="bloque_collap_{{provincia.id}}">
                                <div class="collapsible-header">
                                    <i class="fas fa-city"></i>
                                    {{provincia.data.etiqueta}}
                                </div>
                                <div class="collapsible-body" id="div_pro_can_{{provincia.data.id_provincia}}">
                                    <span id="eliminar_provincia_{{provincia.id}}" data-target="{{provincia.id}}|{{provincia.data.id_provincia}}" class="btn_eliminar_provincia">Eliminar provincia</span>
                                    <ul class="collection" id="lista_pro_can_{{provincia.data.id_provincia}}">
                                        {{#each ../lista_cantones as |canton i|}}
                                            {{#comparar provincia.data.id_provincia '==' canton.data.id_provincia}}
                                                <li class="collection-item item_" id="item_pro_can_{{canton.id}}">
                                                    {{canton.data.etiqueta}}
                                                    <span class="eliminar_canton" data-target="{{canton.id}}"></span>
                                                </li>
                                            {{/comparar}}
                                        {{/each}}
                                    </ul>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col s6 main b">
                    <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
                        <li class="tab"><a class="active" href="#registrar_provincia_tab">Provincia</a></li>
                        <li class="tab"><a href="#registrar_canton_tab">Cantón</a></li>
                    </ul>
                    <div id="registrar_provincia_tab" class="col s12 tab_div">
                        <div class="row">
                            <div class="col s12">
                                <p style="text-align: center;">Registrar Provincia</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <input class="browser-default" id="reg_pro_id_provincia" type="number" placeholder="Código de la provincia" name="codigo" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <input class="browser-default" id="reg_pro_etiqueta" type="text" placeholder="Provincia" name="etiqueta" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <button id="registrar_provincia" class="button_bloq">Registrar</button>
                            </div>
                        </div>
                        <div class="row loader_ubcaciones" id="loader_provincia">
                            <div class="col s12">
                                <div class="preloader-wrapper small active">
                                    <div class="spinner-layer spinner-blue-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                        <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <p class="error_msg_ubi" id="error_provincia"></p>
                            </div>
                        </div>
                    </div>
                    <div id="registrar_canton_tab" class="col s12 tab_div">
                        <div class="row">
                            <div class="col s12">
                                <p style="text-align: center;">Registrar Cantón</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <select class="browser-default" id="reg_can_id_provincia">
                                    <option value="none" selected>Selecciona la provincia</option>
                                    {{#each lista_provincias as |provincia i|}}
                                        <option value="{{provincia.data.id_provincia}}">{{provincia.data.etiqueta}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <input class="browser-default" id="reg_can_etiqueta" type="text" placeholder="Cantón" name="etiqueta" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <button id="registrar_canton" class="button_bloq">Registrar</button>
                            </div>
                        </div>
                        <div class="row loader_ubcaciones" id="loader_canton">
                            <div class="col s12">
                                <div class="preloader-wrapper small active">
                                    <div class="spinner-layer spinner-blue-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                        <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <p class="error_msg_ubi" id="error_canton"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modale" id="modal_historial_registro_pagos">
        <div class="contenido">
            <div class="snac">
                <div class="intro">
                    <span>Información de pagos</span>
                </div>
                <div class="opciones">
                    <i class="far fa-times-circle btn_close_modale" id="close_modale" data-target="modal_historial_registro_pagos"></i>
                </div>
            </div>
            <div class="progress" id="modale_progreso_pagos">
                <div class="indeterminate"></div>
            </div>
            <div class="mate row" style="padding: 0;">
                <div class="col s12 main b">
                    <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
                        <li class="tab"><a class="active" href="#historial_pagos_div">Historial de pagos</a></li>
                        <li class="tab"><a href="#registrar_pagos_div">Registrar pago</a></li>
                    </ul>
                    <div id="historial_pagos_div" class="col s12 tab_div tab_pag a">
                        <div class="row">
                            <div class="col s2 a">
                                <span class="titulo">Año</span>
                                <div class="anos" id="lista_annos_pagos">
                                </div>
                            </div>
                            <div class="col s10 b">
                                <ul class="collapsible div_pagos_por_anno" id="div_pagos_por_anno"></ul>
                            </div>
                        </div>
                    </div>
                    <div id="registrar_pagos_div" class="col s12 tab_div tab_pag b">
                        <input type="hidden" id="reg_pag_id_cliente" value="">
                        <div class="row">
                            <div class="col s6">
                                <input class="browser-default" id="reg_pag_descripcion" type="text" placeholder="Descripción" name="etiqueta" />
                            </div>
                            <div class="col s6">
                                <select class="browser-default" id="reg_pag_medio">
                                    <option value="none" selected>Selecciona el medio de pago</option>
                                    <option value="0/Banco-Tranferencia">Banco-Transferencia</option>
                                    <option value="1/Pago en efectivo">Pago en efectivo</option>
                                    <option value="2/Creditos por compra">Creditos por compra</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <input class="browser-default" id="reg_pago_nro_comprobante" type="text" placeholder="Número de comprobante o factura" name="etiqueta" />
                            </div>
                            <div class="col s2">
                                <input class="browser-default" id="reg_pag_fecha_dia" type="number" placeholder="Día" name="etiqueta" step="1" min="1" max="31"/>
                            </div>
                            <div class="col s2">
                                <input class="browser-default" id="reg_pag_fecha_mes" type="number" placeholder="Mes" name="etiqueta" step="1" min="1" max="12"/>
                            </div>
                            <div class="col s2">
                                <input class="browser-default" id="reg_pag_fecha_ano" type="number" placeholder="Año" name="etiqueta" step="1" min="2019" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <input class="browser-default" id="reg_pag_monto" type="number" placeholder="Monto" name="etiqueta" step="0.01"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <button id="reg_pago_action" class="button_bloq">Registrar</button>
                            </div>
                        </div>
                        <div class="row loader_ubcaciones" id="loader_pago">
                            <div class="col s12">
                                <div class="preloader-wrapper small active">
                                    <div class="spinner-layer spinner-blue-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                        <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <p class="error_msg_ubi" id="error_pago"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modales End -->
    <script src="https://www.gstatic.com/firebasejs/5.5.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.1/firebase-auth.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src='/update/js/admin/admin_clientes.min.js'></script>
    <script>
        $('#btn_logout').click(function(){
            firebase.auth().signOut().then(function() {
                window.location.href = "/";
            }).catch(function(error) {
                window.location.href = "/";
            });
        });
    </script>
</body>
</html>